@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    background-color: #30303a;
    width: 100%;
    height: 100%;
}

.container {
    max-width: 40%;
    margin: 0 auto;
}

.nav .nav-list{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
}

.ietem {
    padding: 10px;
    border-radius: 7px;
    transition: 1000ms all;
    cursor: pointer;
}

.item:hover {
    background-color: black;
}

.item:hover a {
    text-decoration: underline;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    border: 1px solid black;
    position: relative;
}

.main-img {
    width: 200px;
    height: 200px;
}

.shortcuts {
    display: flex;
    padding: 10px;
}

.shortcuts .shortcut-icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    font-size: 18px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: 500ms all;
}

.main-img img {
    width: 100%;
}

.shortcut-icon img {
    width: 85%;
}

.shortcut-icon:hover {
    background-color: transparent;
    transform: scale(1.3);
}

.search-area {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    background-color: #45454e;
    padding: 3px 8px;
    border-radius: 3px;
    border-bottom-left-radius: 8px;

}

.input-group input {
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    width: 650px;
    height: 40px;
}

.input-group img {
    width: 30px;
}

.input-controls {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 150px;
    height: 40px;
}

.search {
    padding: 13px 20px;
    background-color: #45454e;
    display: flex;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
}

.search img {
    width: 20px;
}

.links {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.link {
    background-color: 45454e;
    width: 380px;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    transition: 300ms all;
    margin: 5px 0px;
}

.link:hover {
    transform: scale(1.02);
    background-color: #606061;
}

.link img{
    width: 30px;
    margin: 0px 10px;
}

.link .text-header {
    color: #fff;
    font-size: 14px;
}

.link .url {
    color: #fffffff7;
    font-size: 12px;
}

.link .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.2;
}

